@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #900c0c;
  --accent-shadow: #490c0c;
  --accent-border: #b44b4b;
  --accent-hover: #ca6f6f;
  --foreground-rgb: 0, 0, 0;
  --foreground-grey-accent: #634b4b;
  --background-rgb: #fff;
  --background-grey-accent: #ddd;
  --background-accent-rgb: #dbb;
  --topbar-height: 66px;
  font-size: 16pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-grey-accent: #9f8585;
    --background-rgb: #301818;
    --background-accent-rgb: #000;
    --background-grey-accent: #333;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.search-prompt {
  text-align: left;
  padding: 1rem;
}

.search-results {
  text-align: left;
  padding: 1rem;
  background-color: var(--background-accent-rgb);;
}

.search-heading {
  font-size: 12pt;
  text-align: center;
  user-select: none;
}

button {
  background-color: var(--accent-color);
  transition: background-color 0.1s ease-in;
}

button i {
  vertical-align: middle;
}

button i, button text {
  filter: drop-shadow(1px 2px 0px var(--accent-shadow));
}

.main-page, .results-page {
  position: absolute;
  display: flex;
  top: var(--topbar-height);
  height: calc(100% - var(--topbar-height));
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.about-page {
  position: absolute;
  display: flex;
  height: calc(100% - var(--topbar-height));
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.about-page h1 {
  font-size: 24pt;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.about-page a {
  color: var(--accent-color);
  font-size: 12pt;
  font-weight: bolder;
}

.main-page {
  user-select: none;
}

.results-page {
  justify-content: stretch;
}

.main-welcome {
  display: flex;
  flex: 1;
  overflow: auto;
  height: calc(100% - 66px);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#intro-search-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  max-width: 600px;
  width: 75%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 16pt;
  border: none;
  border-radius: 30px;
  color: var(--foreground-grey-accent);
  background-color: var(--background-accent-rgb);
  transition: background-color 0.1s ease-in;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* move the component back by half of its width and height */
}

#intro-search-button * {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0));
}

#intro-search-button i {
  margin-left: .5rem;
}

#main-greeting {
  font-size: 32pt;
  font-weight: bolder;
}

#main-sub-greeting {
  font-size: 14pt;
}

#main-results-heading {
  font-size: 12pt;
  font-weight: bolder;
}