@import "~@flaticon/flaticon-uicons/css/all/all";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #900c0c;
  --accent-shadow: #490c0c;
  --accent-border: #b44b4b;
  --accent-hover: #ca6f6f;
  --foreground-rgb: 0, 0, 0;
  --foreground-grey-accent: #634b4b;
  --background-rgb: #fff;
  --background-grey-accent: #ddd;
  --background-accent-rgb: #dbb;
  --topbar-height: 66px;
  font-size: 16pt;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-grey-accent: #9f8585;
    --background-rgb: #301818;
    --background-accent-rgb: #000;
    --background-grey-accent: #333;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.search-prompt {
  text-align: left;
  padding: 1rem;
}

.search-results {
  text-align: left;
  padding: 1rem;
  background-color: var(--background-accent-rgb);;
}

.search-heading {
  font-size: 12pt;
  text-align: center;
  user-select: none;
}

button {
  background-color: var(--accent-color);
  transition: background-color 0.1s ease-in;
}

button i {
  vertical-align: middle;
}

button i, button text {
  filter: drop-shadow(1px 2px 0px var(--accent-shadow));
}

.main-page, .results-page {
  position: absolute;
  display: flex;
  top: var(--topbar-height);
  height: calc(100% - var(--topbar-height));
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.main-page {
  user-select: none;
}

.results-page {
  justify-content: stretch;
}

.main-welcome {
  display: flex;
  flex: 1;
  overflow: auto;
  height: calc(100% - 66px);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-greeting {
  font-size: 32pt;
  font-weight: bolder;
}

#main-sub-greeting {
  font-size: 14pt;
}

#main-results-heading {
  font-size: 12pt;
  font-weight: bolder;
}