.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Start off-screen */
    width: 250px;
    height: 100%;
    color: white;
    background-color: var(--accent-color);
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar.open {
    left: 0;
}

.sidebar button {
    width: 100%;
    padding: 15px;
    text-align: left;
}

.sidebar button i {
    margin-right: 10px;
}

.sidebar .top-btns button {
    border-bottom: 1px solid var(--accent-border);
}
.sidebar .bottom-btns button {
    border-top: 1px solid var(--accent-border);
}

.sidebar button:hover {
    background-color: var(--accent-hover);
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Transparent initially */
    transition: background-color 0.3s ease; /* Add transition */
    z-index: -1;
}

.sidebar-overlay.open {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999;
}