nav {
  background-color: var(--accent-color);
  color: white;
}

nav button {
  padding: 15px 25px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button:hover {
  background-color: var(--accent-hover);
}