nav {
  position: fixed;
  width: 100%;
  height: var(--topbar-height);
  background-color: var(--accent-color);
  color: white;
  filter: drop-shadow(0px 2px 3px rgba(0,0,0, 0.5));
  z-index: 900;
}

nav button, nav p {
  padding: 15px 25px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

nav button:hover {
  background-color: var(--accent-hover);
}